<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_URL</key>
	<string>https://ui-project-62acb-default-rtdb.europe-west1.firebasedatabase.app</string>
	<key>CLIENT_ID</key>
	<string>1037575138122-r1ekfvobgtl8mgparnv0q7p5v6sulsd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037575138122-r1ekfvobgtl8mgparnv0q7p5v6sulsd5</string>
	<key>API_KEY</key>
	<string>AIzaSyA4QvFDLVuAFFYq1UI3rS3Z3Jho-PqCIHo</string>
	<key>GCM_SENDER_ID</key>
	<string>1037575138122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dsplatonov.UI-project</string>
	<key>PROJECT_ID</key>
	<string>ui-project-62acb</string>
	<key>STORAGE_BUCKET</key>
	<string>ui-project-62acb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037575138122:ios:5c2b5828049fd5a7812fb3</string>
</dict>
</plist>
